# Import packages

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import seaborn as sns 

from sklearn.metrics import silhouette_score, silhouette_samples
import sklearn.metrics
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans, DBSCAN, AgglomerativeClustering
from sklearn.mixture import GaussianMixture
from sklearn.metrics import accuracy_score, cohen_kappa_score, f1_score, log_loss
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification

import itertools

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

import scipy

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from IPython.display import display
pd.options.display.max_columns = None

# Load data

In [2]:
df=pd.read_csv('/System/Volumes/Data/Users/Michael/Library/CloudStorage/iCloud Drive/MMA/MMA 831/allstate-purchase-prediction-challenge/train.csv')

# Check the data

In [3]:
# pandas_profiling.ProfileReport(df, check_correlation=False)

In [4]:
df.head(20)

,customer_ID,shopping_pt,record_type,day,time,state,location,group_size,homeowner,car_age,car_value,risk_factor,age_oldest,age_youngest,married_couple,C_previous,duration_previous,A,B,C,D,E,F,G,cost
0,10000000,1,0,0,08:35,IN,10001,2,0,2,g,3.0,46,42,1,1.0,2.0,1,0,2,2,1,2,2,633
1,10000000,2,0,0,08:38,IN,10001,2,0,2,g,3.0,46,42,1,1.0,2.0,1,0,2,2,1,2,1,630
2,10000000,3,0,0,08:38,IN,10001,2,0,2,g,3.0,46,42,1,1.0,2.0,1,0,2,2,1,2,1,630
3,10000000,4,0,0,08:39,IN,10001,2,0,2,g,3.0,46,42,1,1.0,2.0,1,0,2,2,1,2,1,630
4,10000000,5,0,0,11:55,IN,10001,2,0,2,g,3.0,46,42,1,1.0,2.0,1,0,2,2,1,2,1,630
5,10000000,6,0,0,11:57,IN,10001,2,0,2,g,3.0,46,42,1,1.0,2.0,1,0,2,2,1,2,1,638
6,10000000,7,0,0,11:58,IN,10001,2,0,2,g,3.0,46,42,1,1.0,2.0,1,0,2,2,1,2,1,638
7,10000000,8,0,0,12:03,IN,10001,2,0,2,g,3.0,46,42,1,1.0,2.0,1,0,2,2,1,2,1,638
8,10000000,9,1,0,12:07,IN,10001,2,0,2,g,3.0,46,42,1,1.0,2.0,1,0,2,2,1,2,1,634
9,10000005,1,0,3,08:56,NY,10006,1,0,10,e,4.0,28,28,0,3.0,13.0,1,1,3,3,1,0,2,755
10,10000005,2,0,3,08:56,NY,10006,1,0,10,e,4.0,28,28,0,3.0,13.0,1,1,3,3,1,0,2,755
11,10000005,3,0,3,08:57,NY,10006,1,0,10,e,4.0,28,28,0,3.0,13.0,1,1,3,3,1,0,2,755
12,10000005,4,0,3,08:58,NY,10006,1,0,10,e,4.0,28,28,0,3.0,13.0,0,0,3,2,0,0,2,730
13,10000005,5,0,3,08:58,NY,10006,1,0,10,e,4.0,28,28,0,3.0,13.0,0,0,3,2,0,0,2,731
14,10000005,6,1,3,09:09,NY,10006,1,0,10,e,4.0,28,28,0,3.0,13.0,0,0,3,2,0,0,2,731
15,10000007,1,0,4,08:35,PA,10008,1,0,11,c,NaN,43,43,0,2.0,4.0,0,0,2,3,0,0,3,618
16,10000007,2,0,4,08:36,PA,10008,1,0,11,c,NaN,43,43,0,2.0,4.0,0,0,2,3,0,0,1,616
17,10000007,3,0,4,08:36,PA,10008,1,0,11,c,NaN,43,43,0,2.0,4.0,0,0,1,1,0,0,1,607
18,10000007,4,0,4,08:38,PA,10008,1,0,11,c,NaN,43,43,0,2.0,4.0,0,0,1,1,0,0,1,607
19,10000007,5,0,4,08:39,PA,10008,1,0,11,c,NaN,43,43,0,2.0,4.0,0,0,1,1,0,0,1,607

# Slice the data and keep only the purchase record

In [5]:
df_purchased=df[df.record_type==1]
df_purchased.head()
df_purchased.info()

,customer_ID,shopping_pt,record_type,day,time,state,location,group_size,homeowner,car_age,car_value,risk_factor,age_oldest,age_youngest,married_couple,C_previous,duration_previous,A,B,C,D,E,F,G,cost
8,10000000,9,1,0,12:07,IN,10001,2,0,2,g,3.0,46,42,1,1.0,2.0,1,0,2,2,1,2,1,634
14,10000005,6,1,3,09:09,NY,10006,1,0,10,e,4.0,28,28,0,3.0,13.0,0,0,3,2,0,0,2,731
22,10000007,8,1,4,14:26,PA,10008,1,0,11,c,NaN,43,43,0,2.0,4.0,0,0,1,2,0,0,1,602
26,10000013,4,1,4,09:31,WV,10014,2,1,3,d,3.0,62,60,1,3.0,3.0,1,1,3,2,1,1,3,626
32,10000014,6,1,1,17:50,MO,10015,1,0,5,d,3.0,32,28,1,1.0,2.0,1,1,1,1,0,2,2,614

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97009 entries, 8 to 665248
Data columns (total 25 columns):
customer_ID          97009 non-null int64
shopping_pt          97009 non-null int64
record_type          97009 non-null int64
day                  97009 non-null int64
time                 97009 non-null object
state                97009 non-null object
location             97009 non-null int64
group_size           97009 non-null int64
homeowner            97009 non-null int64
car_age              97009 non-null int64
car_value            97009 non-null object
risk_factor          62663 non-null float64
age_oldest           97009 non-null int64
age_youngest         97009 non-null int64
married_couple       97009 non-null int64
C_previous           96173 non-null float64
duration_previous    96173 non-null float64
A                    97009 non-null int64
B                    97009 non-null int64
C                    97009 non-null int64
D                    97009 non-null int64
E                    97009 non-null int64
F                    97009 non-null int64
G                    97009 non-null int64
cost                 97009 non-null int64
dtypes: float64(3), int64(19), object(3)
memory usage: 19.2+ MB

# Create the purchase record table

In [6]:
list_product=["A","B","C","D","E","F","G"]
df_prducct=pd.DataFrame()
for i in list_product:
    df_prducct=pd.concat([df_prducct,pd.get_dummies(df_purchased[i],prefix=i)],1)
df_prducct

,A_0,A_1,A_2,B_0,B_1,C_1,C_2,C_3,C_4,D_1,D_2,D_3,E_0,E_1,F_0,F_1,F_2,F_3,G_1,G_2,G_3,G_4
8,0,1,0,1,0,0,1,0,0,0,1,0,0,1,0,0,1,0,1,0,0,0
14,1,0,0,1,0,0,0,1,0,0,1,0,1,0,1,0,0,0,0,1,0,0
22,1,0,0,1,0,1,0,0,0,0,1,0,1,0,1,0,0,0,1,0,0,0
26,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,0,0,1,0
32,0,1,0,0,1,1,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0
42,0,0,1,1,0,0,0,1,0,0,0,1,1,0,0,0,0,1,0,0,1,0
50,0,0,1,0,1,0,1,0,0,0,0,1,0,1,0,0,1,0,0,0,1,0
57,0,1,0,0,1,1,0,0,0,0,0,1,0,1,0,1,0,0,0,1,0,0
64,1,0,0,1,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,1,0
68,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,1,0
74,1,0,0,1,0,0,1,0,0,0,1,0,1,0,1,0,0,0,1,0,0,0
80,0,1,0,1,0,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,1,0
88,0,1,0,0,1,1,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0
95,0,1,0,0,1,0,0,1,0,0,0,1,1,0,0,0,1,0,0,0,1,0
102,0,0,1,1,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0
109,0,0,1,0,1,0,1,0,0,0,0,1,1,0,0,0,1,0,0,1,0,0
120,0,1,0,0,1,0,0,1,0,0,0,1,1,0,0,0,1,0,0,0,1,0
126,0,1,0,1,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0
133,0,1,0,0,1,1,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0
142,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,1,0
146,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0,0,1,0,1,0,0,0
154,1,0,0,0,1,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,1,0
158,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0,1,0,0,0,0,1,0
165,0,1,0,1,0,0,0,1,0,0,0,1,1,0,1,0,0,0,0,1,0,0
173,0,1,0,1,0,0,0,1,0,0,0,1,0,1,0,1,0,0,0,0,1,0
182,1,0,0,1,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,1,0
192,1,0,0,0,1,1,0,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0
200,0,0,1,0,1,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0
203,0,1,0,0,1,1,0,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0
210,0,0,1,0,1,0,0,0,1,0,0,1,1,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665040,0,1,0,0,1,0,0,1,0,0,0,1,0,1,1,0,0,0,0,1,0,0
665048,0,1,0,0,1,0,0,1,0,0,0,1,1,0,1,0,0,0,0,1,0,0
665057,0,1,0,1,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,0,1,0
665062,0,1,0,1,0,0,0,0,1,0,0,1,1,0,1,0,0,0,0,0,1,0
665070,0,1,0,1,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0
665081,0,1,0,0,1,1,0,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0
665089,1,0,0,1,0,0,1,0,0,0,0,1,1,0,1,0,0,0,0,1,0,0
665093,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,1
665103,0,1,0,1,0,0,0,1,0,0,0,1,0,1,1,0,0,0,0,1,0,0
665108,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0,1,0,0,1,0,0,0
665116,0,0,1,0,1,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0
665124,0,1,0,0,1,1,0,0,0,1,0,0,0,1,1,0,0,0,0,1,0,0
665131,0,1,0,1,0,0,0,1,0,0,0,1,0,1,0,1,0,0,0,0,1,0
665141,0,1,0,0,1,1,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0
665149,0,1,0,0,1,0,0,0,1,0,0,1,1,0,0,0,1,0,0,0,0,1
665158,0,1,0,1,0,0,0,0,1,0,0,1,0,1,1,0,0,0,0,1,0,0
665162,1,0,0,1,0,0,0,1,0,0,0,1,1,0,1,0,0,0,0,1,0,0
665168,1,0,0,1,0,0,1,0,0,0,1,0,1,0,1,0,0,0,1,0,0,0
665174,1,0,0,0,1,0,1,0,0,0,1,0,1,0,1,0,0,0,0,1,0,0
665180,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,1,0
665190,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0,1,0,0,0,0,1,0
665195,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0,1,0,0,0,1,0,0
665204,0,1,0,1,0,1,0,0,0,0,0,1,0,1,0,1,0,0,0,0,1,0
665209,0,1,0,0,1,0,0,1,0,0,0,1,1,0,0,0,1,0,0,1,0,0
665216,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,0
665225,0,1,0,0,1,0,0,0,1,0,0,1,0,1,0,0,1,0,0,0,0,1
665233,0,1,0,1,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0
665239,0,1,0,1,0,0,0,1,0,0,0,1,0,1,1,0,0,0,0,1,0,0
665242,0,1,0,1,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,1,0
665248,0,1,0,1,0,0,0,1,0,0,0,1,1,0,0,0,1,0,0,1,0,0

# Calculate the support

In [7]:
%time frequent_itemsets = apriori(df_prducct, min_support=0.001, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets.head(10)
frequent_itemsets.tail(10)

CPU times: user 12.4 s, sys: 13 s, total: 25.4 s
Wall time: 23.6 s

    support itemsets  length
0  0.220371    (A_0)       1
1  0.614190    (A_1)       1
2  0.165438    (A_2)       1
3  0.523910    (B_0)       1
4  0.476090    (B_1)       1
5  0.298869    (C_1)       1
6  0.210218    (C_2)       1
7  0.391335    (C_3)       1
8  0.099578    (C_4)       1
9  0.130153    (D_1)       1

       support                             itemsets  length
7985  0.001155  (A_2, C_3, G_3, D_3, F_2, E_0, B_1)       7
7986  0.001227  (A_2, C_3, E_1, D_3, G_1, F_0, B_1)       7
7987  0.004701  (A_2, C_3, E_1, G_2, D_3, F_0, B_1)       7
7988  0.001216  (A_2, C_3, G_3, E_1, D_3, F_0, B_1)       7
7989  0.002484  (F_1, A_2, C_3, G_3, E_1, D_3, B_1)       7
7990  0.003031  (A_2, C_3, G_3, E_1, D_3, F_2, B_1)       7
7991  0.001165  (A_2, F_3, C_3, E_1, G_2, D_3, B_1)       7
7992  0.001361  (A_2, F_3, C_3, G_3, E_1, D_3, B_1)       7
7993  0.001278  (A_2, C_4, E_1, G_2, D_3, F_0, B_1)       7
7994  0.001072  (A_2, C_4, G_3, E_1, D_3, F_2, B_1)       7

In [8]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.02) ]

      support    itemsets  length
22   0.154841  (B_0, A_0)       2
23   0.065530  (A_0, B_1)       2
24   0.105691  (A_0, C_1)       2
25   0.051892  (A_0, C_2)       2
26   0.054211  (C_3, A_0)       2
28   0.052232  (A_0, D_1)       2
29   0.061025  (A_0, D_2)       2
30   0.107114  (A_0, D_3)       2
31   0.214372  (A_0, E_0)       2
33   0.192539  (A_0, F_0)       2
37   0.051098  (A_0, G_1)       2
38   0.115752  (G_2, A_0)       2
39   0.044944  (G_3, A_0)       2
41   0.282551  (B_0, A_1)       2
42   0.331639  (A_1, B_1)       2
43   0.142358  (C_1, A_1)       2
44   0.126648  (A_1, C_2)       2
45   0.274201  (C_3, A_1)       2
46   0.070983  (A_1, C_4)       2
47   0.056809  (A_1, D_1)       2
48   0.127998  (A_1, D_2)       2
49   0.429383  (D_3, A_1)       2
50   0.240009  (A_1, E_0)       2
51   0.374182  (A_1, E_1)       2
52   0.095888  (A_1, F_0)       2
53   0.205445  (F_1, A_1)       2
54   0.312352  (A_1, F_2)       2
55   0.121649  (A_1, G_1)       2
56   0.215465  (G_2, A_1)       2
57   0.211970  (G_3, A_1)       2
..        ...         ...     ...
190  0.234267  (G_3, D_3)       2
191  0.066303  (D_3, G_4)       2
192  0.232752  (E_0, F_0)       2
193  0.099630  (F_1, E_0)       2
194  0.167582  (F_2, E_0)       2
195  0.037430  (E_0, F_3)       2
196  0.119092  (E_0, G_1)       2
197  0.238669  (G_2, E_0)       2
198  0.149378  (G_3, E_0)       2
199  0.030255  (E_0, G_4)       2
200  0.089342  (F_0, E_1)       2
201  0.147378  (F_1, E_1)       2
202  0.205259  (F_2, E_1)       2
203  0.020627  (F_3, E_1)       2
204  0.089724  (G_1, E_1)       2
205  0.150759  (G_2, E_1)       2
206  0.167057  (G_3, E_1)       2
207  0.055067  (G_4, E_1)       2
208  0.072426  (G_1, F_0)       2
209  0.180756  (G_2, F_0)       2
210  0.053717  (G_3, F_0)       2
212  0.037687  (F_1, G_1)       2
213  0.076632  (G_2, F_1)       2
214  0.102011  (G_3, F_1)       2
215  0.030678  (F_1, G_4)       2
216  0.082539  (F_2, G_1)       2
217  0.111041  (G_2, F_2)       2
218  0.143162  (G_3, F_2)       2
219  0.036100  (F_2, G_4)       2
221  0.020998  (G_2, F_3)       2

[177 rows x 3 columns]

# Calculate the support and confidence

In [9]:
%time rules = association_rules(frequent_itemsets, min_threshold=0.1)

CPU times: user 1.22 s, sys: 82.8 ms, total: 1.3 s
Wall time: 879 ms

In [10]:
rules["antecedent_len"] = rules["antecedents"].apply(lambda x: len(x))
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(B_0),(A_0),0.523910,0.220371,0.154841,0.295549,1.341143,0.039387,1.106719,1
1,(A_0),(B_0),0.220371,0.523910,0.154841,0.702638,1.341143,0.039387,1.601046,1
2,(A_0),(B_1),0.220371,0.476090,0.065530,0.297362,0.624592,-0.039387,0.745633,1
3,(B_1),(A_0),0.476090,0.220371,0.065530,0.137642,0.624592,-0.039387,0.904066,1
4,(A_0),(C_1),0.220371,0.298869,0.105691,0.479605,1.604733,0.039829,1.347306,1
5,(C_1),(A_0),0.298869,0.220371,0.105691,0.353637,1.604733,0.039829,1.206178,1
6,(A_0),(C_2),0.220371,0.210218,0.051892,0.235476,1.120152,0.005566,1.033038,1
7,(C_2),(A_0),0.210218,0.220371,0.051892,0.246849,1.120152,0.005566,1.035156,1
8,(C_3),(A_0),0.391335,0.220371,0.054211,0.138530,0.628619,-0.032028,0.904998,1
9,(A_0),(C_3),0.220371,0.391335,0.054211,0.246001,0.628619,-0.032028,0.807249,1
10,(A_0),(D_1),0.220371,0.130153,0.052232,0.237019,1.821084,0.023550,1.140064,1
11,(D_1),(A_0),0.130153,0.220371,0.052232,0.401315,1.821084,0.023550,1.302235,1
12,(A_0),(D_2),0.220371,0.223443,0.061025,0.276920,1.239332,0.011785,1.073957,1
13,(D_2),(A_0),0.223443,0.220371,0.061025,0.273113,1.239332,0.011785,1.072558,1
14,(A_0),(D_3),0.220371,0.646404,0.107114,0.486060,0.751945,-0.035335,0.688011,1
15,(D_3),(A_0),0.646404,0.220371,0.107114,0.165707,0.751945,-0.035335,0.934478,1
16,(A_0),(E_0),0.220371,0.537393,0.214372,0.972776,1.810174,0.095946,16.992445,1
17,(E_0),(A_0),0.537393,0.220371,0.214372,0.398910,1.810174,0.095946,1.297026,1
18,(A_0),(F_0),0.220371,0.322094,0.192539,0.873702,2.712570,0.121559,5.367510,1
19,(F_0),(A_0),0.322094,0.220371,0.192539,0.597773,2.712570,0.121559,1.938278,1
20,(A_0),(G_1),0.220371,0.208816,0.051098,0.231874,1.110424,0.005081,1.030019,1
21,(G_1),(A_0),0.208816,0.220371,0.051098,0.244706,1.110424,0.005081,1.032218,1
22,(G_2),(A_0),0.389428,0.220371,0.115752,0.297236,1.348799,0.029933,1.109376,1
23,(A_0),(G_2),0.220371,0.389428,0.115752,0.525260,1.348799,0.029933,1.286118,1
24,(G_3),(A_0),0.316435,0.220371,0.044944,0.142033,0.644519,-0.024789,0.908694,1
25,(A_0),(G_3),0.220371,0.316435,0.044944,0.203948,0.644519,-0.024789,0.858694,1
26,(G_4),(A_0),0.085322,0.220371,0.008577,0.100520,0.456137,-0.010226,0.866754,1
27,(B_0),(A_1),0.523910,0.614190,0.282551,0.539312,0.878086,-0.039230,0.837464,1
28,(A_1),(B_0),0.614190,0.523910,0.282551,0.460038,0.878086,-0.039230,0.881710,1
29,(A_1),(B_1),0.614190,0.476090,0.331639,0.539962,1.134159,0.039230,1.138840,1
...,...,...,...,...,...,...,...,...,...,...
102203,"(A_2, C_4, G_3, E_1, D_3)","(F_2, B_1)",0.004855,0.201610,0.001072,0.220807,1.095217,0.000093,1.024637,5
102204,"(A_2, C_4, G_3, E_1, F_2)","(D_3, B_1)",0.001608,0.321970,0.001072,0.666667,2.070585,0.000554,2.034090,5
102205,"(A_2, C_4, G_3, E_1, B_1)","(F_2, D_3)",0.003185,0.237813,0.001072,0.336570,1.415270,0.000315,1.148857,5
102206,"(A_2, C_4, G_3, F_2, D_3)","(B_1, E_1)",0.002598,0.319692,0.001072,0.412698,1.290925,0.000242,1.158362,5
102207,"(A_2, C_4, G_3, D_3, B_1)","(F_2, E_1)",0.004041,0.205259,0.001072,0.265306,1.292541,0.000243,1.081730,5
102208,"(A_2, C_4, G_3, F_2, B_1)","(D_3, E_1)",0.001319,0.335680,0.001072,0.812500,2.420459,0.000629,3.543039,5
102209,"(A_2, C_4, E_1, F_2, D_3)","(G_3, B_1)",0.003020,0.154769,0.001072,0.354949,2.293408,0.000605,1.310331,5
102210,"(A_2, C_4, E_1, D_3, B_1)","(G_3, F_2)",0.007731,0.143162,0.001072,0.138667,0.968600,-0.000035,0.994781,5
102211,"(A_2, C_4, E_1, F_2, B_1)","(G_3, D_3)",0.002000,0.234267,0.001072,0.536082,2.288340,0.000604,1.650580,5
102212,"(A_2, C_4, F_2, D_3, B_1)","(G_3, E_1)",0.002608,0.167057,0.001072,0.411067,2.460645,0.000636,1.414327,5
102213,"(A_2, G_3, E_1, F_2, D_3)","(B_1, C_4)",0.009453,0.051006,0.001072,0.113413,2.223547,0.000590,1.070391,5
102214,"(A_2, G_3, E_1, F_2, B_1)","(D_3, C_4)",0.008473,0.098568,0.001072,0.126521,1.283586,0.000237,1.032001,5
102215,"(A_2, G_3, F_2, D_3, B_1)","(E_1, C_4)",0.008443,0.061819,0.001072,0.126984,2.054128,0.000550,1.074644,5
102216,"(C_4, G_3, E_1, F_2, D_3)","(A_2, B_1)",0.010154,0.078921,0.001072,0.105584,1.337849,0.000271,1.029811,5
102217,"(C_4, G_3, E_1, F_2, B_1)","(A_2, D_3)",0.006711,0.109907,0.001072,0.159754,1.453536,0.000335,1.059324,5
102218,"(C_4, G_3, F_2, D_3, B_1)","(A_2, E_1)",0.008010,0.082425,0.001072,0.133848,1.623871,0.000412,1.059369,5
102219,"(G_3, A_2, E_1, C_4)","(F_2, D_3, B_1)",0.004876,0.129339,0.001072,0.219873,1.699982,0.000441,1.116051,4
102220,"(G_3, A_2, D_3, C_4)","(F_2, B_1, E_1)",0.008092,0.148914,0.001072,0.132484,0.889668,-0.000133,0.981061,4
102221,"(G_3, A_2, F_2, C_4)","(D_3, B_1, E_1)",0.002629,0.226742,0.001072,0.407843,1.798711,0.000476,1.305833,4
102222,"(G_3, A_2, B_1, C_4)","(F_2, D_3, E_1)",0.004061,0.136812,0.001072,0.263959,1.929358,0.000516,1.172745,4
102223,"(E_1, A_2, F_2, C_4)","(G_3, D_3, B_1)",0.003041,0.118608,0.001072,0.352542,2.972343,0.000711,1.361313,4
102224,"(E_1, A_2, B_1, C_4)","(G_3, F_2, D_3)",0.007772,0.105495,0.001072,0.137931,1.307461,0.000252,1.037625,4
102225,"(F_2, A_2, D_3, C_4)","(G_3, B_1, E_1)",0.005206,0.111742,0.001072,0.205941,1.842997,0.000490,1.118629,4
102226,"(A_2, D_3, B_1, C_4)","(G_3, F_2, E_1)",0.009886,0.083302,0.001072,0.108446,1.301852,0.000249,1.028203,4
102227,"(A_2, F_2, B_1, C_4)","(G_3, D_3, E_1)",0.002639,0.132472,0.001072,0.406250,3.066680,0.000722,1.461099,4
102228,"(G_3, F_2, E_1, C_4)","(A_2, D_3, B_1)",0.010216,0.054211,0.001072,0.104945,1.935836,0.000518,1.056681,4
102229,"(G_3, F_2, B_1, C_4)","(A_2, D_3, E_1)",0.008082,0.058881,0.001072,0.132653,2.252896,0.000596,1.085055,4
102230,"(G_3, A_2, C_4)","(F_2, D_3, B_1, E_1)",0.008144,0.096527,0.001072,0.131646,1.363819,0.000286,1.040443,3
102231,"(A_2, F_2, C_4)","(G_3, D_3, B_1, E_1)",0.005268,0.087951,0.001072,0.203523,2.314055,0.000609,1.145104,3
102232,"(A_2, B_1, C_4)","(G_3, F_2, D_3, E_1)",0.009958,0.063953,0.001072,0.107660,1.683435,0.000435,1.048981,3

# Slice the data

In [11]:
rules[ (rules['antecedent_len'] >= 2) &
       (rules['confidence'] > 0.75) &
       (rules['lift'] > 1.2) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
369,"(A_0, D_1)",(B_0),0.052232,0.523910,0.040862,0.782317,1.493227,0.013497,2.187078,2
383,"(B_0, A_0)",(E_0),0.154841,0.537393,0.152934,0.987684,1.837916,0.069724,37.561152,2
390,"(B_0, A_0)",(F_0),0.154841,0.322094,0.138286,0.893083,2.772742,0.088413,6.340491,2
398,"(A_0, F_3)",(B_0),0.001917,0.523910,0.001484,0.774194,1.477722,0.000480,2.108398,2
436,"(A_0, B_1)",(E_0),0.065530,0.537393,0.061438,0.937549,1.744623,0.026222,7.407531,2
443,"(A_0, B_1)",(F_0),0.065530,0.322094,0.054253,0.827906,2.570388,0.033146,3.939168,2
462,"(A_0, D_1)",(C_1),0.052232,0.298869,0.049851,0.954411,3.193407,0.034240,15.379350,2
477,"(A_0, C_1)",(E_0),0.105691,0.537393,0.104434,0.988101,1.838692,0.047636,38.877911,2
484,"(A_0, C_1)",(F_0),0.105691,0.322094,0.095981,0.908124,2.819441,0.061938,7.378527,2
486,"(C_1, F_0)",(A_0),0.109866,0.220371,0.095981,0.873616,3.964291,0.071769,6.168732,2
521,"(A_0, C_2)",(E_0),0.051892,0.537393,0.050470,0.972586,1.809822,0.022583,16.875083,2
526,"(A_0, C_2)",(F_0),0.051892,0.322094,0.044965,0.866508,2.690234,0.028251,5.078244,2
548,"(C_3, A_0)",(D_3),0.054211,0.646404,0.049047,0.904735,1.399643,0.014004,3.711700,2
553,"(C_3, A_0)",(E_0),0.054211,0.537393,0.051655,0.952843,1.773082,0.022522,9.809871,2
559,"(C_3, A_0)",(F_0),0.054211,0.322094,0.044759,0.825632,2.563328,0.027298,3.887796,2
577,"(A_0, C_4)",(D_3),0.008577,0.646404,0.008473,0.987981,1.528426,0.002930,29.419192,2
578,"(A_0, C_4)",(E_0),0.008577,0.537393,0.007814,0.911058,1.695327,0.003205,5.201198,2
580,"(A_0, C_4)",(F_0),0.008577,0.322094,0.006834,0.796875,2.474046,0.004072,3.337384,2
586,"(A_0, D_1)",(E_0),0.052232,0.537393,0.051717,0.990132,1.842472,0.023648,46.880549,2
591,"(A_0, D_1)",(F_0),0.052232,0.322094,0.047841,0.915927,2.843664,0.031017,8.063264,2
593,"(D_1, F_0)",(A_0),0.052902,0.220371,0.047841,0.904326,4.103646,0.036183,8.148787,2
615,"(A_0, D_2)",(E_0),0.061025,0.537393,0.059891,0.981419,1.826258,0.027097,24.896644,2
622,"(A_0, D_2)",(F_0),0.061025,0.322094,0.054057,0.885811,2.750164,0.034401,5.936693,2
623,"(D_2, F_0)",(A_0),0.069591,0.220371,0.054057,0.776774,3.524841,0.038721,3.492550,2
642,"(A_0, D_3)",(E_0),0.107114,0.537393,0.102764,0.959388,1.785262,0.045201,11.390864,2
649,"(A_0, D_3)",(F_0),0.107114,0.322094,0.090641,0.846213,2.627225,0.056140,4.408087,2
672,"(A_0, E_0)",(F_0),0.214372,0.322094,0.190477,0.888536,2.758626,0.121429,6.081854,2
673,"(A_0, F_0)",(E_0),0.192539,0.537393,0.190477,0.989292,1.840909,0.087008,43.202827,2
674,"(E_0, F_0)",(A_0),0.232752,0.220371,0.190477,0.818371,3.713601,0.139185,4.292425,2
678,"(A_0, F_1)",(E_0),0.012720,0.537393,0.010875,0.854943,1.590908,0.004039,3.189142,2
...,...,...,...,...,...,...,...,...,...,...
101633,"(C_1, D_1, F_3, E_1, G_2)","(A_2, B_1)",0.001299,0.078921,0.001010,0.777778,9.855204,0.000908,4.144858,5
101637,"(D_1, F_3, E_1, G_2, B_1)","(A_2, C_1)",0.001103,0.050820,0.001010,0.915888,18.022183,0.000954,11.284695,5
101678,"(A_2, C_1, G_3, F_2, D_3, B_1)",(E_1),0.001505,0.462607,0.001134,0.753425,1.628651,0.000438,2.179429,6
101707,"(F_1, A_2, G_3, E_1, D_3, C_2)",(B_1),0.001392,0.476090,0.001082,0.777778,1.633679,0.000420,2.357596,6
101783,"(A_2, C_3, G_3, B_1, F_2, E_0)",(D_3),0.001216,0.646404,0.001155,0.949153,1.468358,0.000368,6.954056,6
101815,"(A_2, C_3, E_1, G_1, F_0, B_1)",(D_3),0.001361,0.646404,0.001227,0.901515,1.394662,0.000347,3.590360,6
101816,"(A_2, C_3, D_3, G_1, F_0, B_1)",(E_1),0.001412,0.462607,0.001227,0.868613,1.877650,0.000573,4.090161,6
101827,"(A_2, C_3, G_1, F_0, B_1)","(D_3, E_1)",0.001546,0.335680,0.001227,0.793333,2.363361,0.000708,3.214451,5
101854,"(A_2, C_3, E_1, G_2, F_0, B_1)",(D_3),0.005247,0.646404,0.004701,0.895874,1.385936,0.001309,3.395856,6
101856,"(A_2, C_3, G_2, D_3, F_0, B_1)",(E_1),0.005226,0.462607,0.004701,0.899408,1.944219,0.002283,5.342323,6
101867,"(A_2, C_3, G_2, F_0, B_1)","(D_3, E_1)",0.005824,0.335680,0.004701,0.807080,2.404311,0.002746,3.443493,5
101921,"(A_2, C_3, G_3, E_1, F_0, B_1)",(D_3),0.001309,0.646404,0.001216,0.929134,1.437389,0.000370,4.989633,6
101922,"(A_2, C_3, G_3, D_3, F_0, B_1)",(E_1),0.001309,0.462607,0.001216,0.929134,2.008475,0.000611,7.583219,6
101930,"(A_2, C_3, G_3, F_0, B_1)","(D_3, E_1)",0.001412,0.335680,0.001216,0.861314,2.565876,0.000742,4.790095,5
101953,"(F_1, A_2, C_3, G_3, E_1, B_1)",(D_3),0.002690,0.646404,0.002484,0.923372,1.428475,0.000745,4.614429,6
102001,"(A_2, C_3, G_3, E_1, F_2, B_1)",(D_3),0.003216,0.646404,0.003031,0.942308,1.457769,0.000952,6.128998,6
102048,"(A_2, F_3, C_3, E_1, G_2, D_3)",(B_1),0.001495,0.476090,0.001165,0.779310,1.636898,0.000453,2.373968,6
102049,"(A_2, F_3, C_3, E_1, G_2, B_1)",(D_3),0.001371,0.646404,0.001165,0.849624,1.314386,0.000279,2.351414,6
102054,"(F_3, C_3, E_1, G_2, D_3, B_1)",(A_2),0.001196,0.165438,0.001165,0.974138,5.888226,0.000967,32.269721,6
102068,"(F_3, C_3, E_1, G_2, D_3)","(A_2, B_1)",0.001536,0.078921,0.001165,0.758389,9.609533,0.001044,3.812246,5
102069,"(F_3, C_3, E_1, G_2, B_1)","(A_2, D_3)",0.001402,0.109907,0.001165,0.830882,7.559845,0.001011,5.263157,5
102097,"(A_2, F_3, C_3, G_3, E_1, B_1)",(D_3),0.001474,0.646404,0.001361,0.923077,1.428019,0.000408,4.596749,6
102102,"(F_3, C_3, G_3, E_1, D_3, B_1)",(A_2),0.001402,0.165438,0.001361,0.970588,5.866770,0.001129,28.375099,6
102117,"(F_3, C_3, G_3, E_1, B_1)","(A_2, D_3)",0.001526,0.109907,0.001361,0.891892,8.114945,0.001193,8.233357,5
102152,"(A_2, C_4, E_1, G_2, F_0, B_1)",(D_3),0.001289,0.646404,0.001278,0.992000,1.534644,0.000445,44.199507,6
102154,"(A_2, C_4, G_2, D_3, F_0, B_1)",(E_1),0.001433,0.462607,0.001278,0.892086,1.928391,0.000615,4.979846,6
102165,"(A_2, C_4, G_2, F_0, B_1)","(D_3, E_1)",0.001443,0.335680,0.001278,0.885714,2.638566,0.000794,5.812798,5
102198,"(A_2, C_4, G_3, E_1, F_2, B_1)",(D_3),0.001072,0.646404,0.001072,1.000000,1.547020,0.000379,inf,6
102199,"(A_2, C_4, G_3, F_2, D_3, B_1)",(E_1),0.001299,0.462607,0.001072,0.825397,1.784231,0.000471,3.077799,6
102208,"(A_2, C_4, G_3, F_2, B_1)","(D_3, E_1)",0.001319,0.335680,0.001072,0.812500,2.420459,0.000629,3.543039,5